@import '../../assets/styles/vars.scss';

#navigation {
  width: calc(30% - 3rem);
  margin-right: 3rem;
  @media (max-width: 1024px) {
    width: 100%;
    margin-right: 0;
  }
}


.navigation {
  &-tab {
    height: 4rem;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid $otb-blue;
    border-bottom-width: 0;
    justify-content: space-between;
    padding: 0 1rem;
    font-weight: 300;
    background: $otb-white;
    color: $otb-blue;
    box-sizing: border-box;
    cursor: pointer;
    transition: 400ms all ease-in-out;

    &:last-child {
      border-bottom-width: 1px;
    }

    &.active {
      background: $otb-blue;
      color: $otb-white;
    }

    &:hover {
      background: darken($otb-blue, 5);
      color: $otb-white;
    }

    i {
      color: $otb-gray-100;
      font-size: 1.85rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &.icon-sort-alpha-asc {
        font-size: 1.2rem;
      }
    }

    .icon-pounds {
      color: $otb-white;
      background: $otb-gray-100;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      font-size: 1.2rem;
      font-weight: 500;
      align-items: center;
      justify-content: center;
    }
  }
}
